@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --white-color: #fff;
    --light-brown: #E0CBA0;
    --regular-brown: #C6A559;
    --dark-brown: #492C09;
    --darker-brown: #3B270C;
    --background-icon-green: #41C336;
    --background-icon-red: #FF0202;
}

/* width scrollbar */

::-webkit-scrollbar {
    width: 14px;
}

/* Handle scrollbar */

::-webkit-scrollbar-thumb {
    background: var(--regular-brown);
    border-radius: 10px;
}

/* Track scrollbar */

::-webkit-scrollbar-track {
    background: var(--darker-brown);
}

/* Body */

* {
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
}

/* Navbar */

.bg-brown {
    background-color: var(--darker-brown);
}

a.btn-outline-light {
    display: block;
    margin: auto;
    margin-right: 30px;
    width: 174px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50px;
    color: var(--regular-brown);
    border-color: var(--regular-brown);
    padding: 16px 32px;
}

.navbar-nav .dropdown {
    display: flex;
    padding: 15px 20px;
    background-color: var(--darker-brown);
    border: 1px solid #C6A559;
    border-radius: 50px;
}

.navbar-nav .dropdown a.d-flex.link-brown {
    color: var(--regular-brown);
}

.navbar-nav .dropdown a p {
    margin: 0 10px;
}

ul.dropdown-wrapper.dropdown-menu.text-small.show {
    width: 210px;
    margin-top: 10px;
    background-color: var(--dark-brown);
}

li a.dropdown-item {
    font-size: 16px;
    color: var(--regular-brown);
}

li a.dropdown-item:hover {
    font-size: 16px;
    color: var(--white-color);
    background-color: var(--dark-brown);
}

/* Navbar Offcanvas */

.navbar .container-fluid .offcanvas {
    background-color: var(--light-brown);
}

.navbar .container-fluid .offcanvas-header .btn-close {
    margin-bottom: 70px;
}

/* Hubungi Kami */
.hub-kami {
    display: flex;
    margin-right: 20px;
    justify-content: end;
}

.hub-kami a {
    padding: 20px 30px;
    margin: 30px 0;
    background-color: var(--background-icon-green);
    border-radius: 100px;
    font-weight: 700;
    font-size: 18px;
    color: var(--white-color);
    text-decoration: none;
}

.hub-kami a:hover {
    color: var(--white-color);
}

.hub-kami .icon {
    font-size: 18px;
}

/*Footer*/

footer p {
    padding: 20px;
    margin: 0;
    color: var(--light-brown);
}

/* Cerita Cinta */

#cerita-cinta {
    background-color: var(--darker-brown);
    color: var(--regular-brown);
}

#cerita-cinta .container {
    width: min(100% - 30px, 1320px);
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: auto;
}

#cerita-cinta .container .header {
    display: flex;
    padding: 20px 0px;
}

#cerita-cinta .container .header h1 {
    display: flex;
    align-items: end;
    font-size: 20px;
    padding: 0 10px;
    margin: 0;
}

#cerita-cinta .container .form-outer {
    background: var(--light-brown);
    box-shadow: -4px 0px 20px rgba(198, 165, 89, 0.7);
    border-radius: 30px;
    overflow: hidden;
}

/* Form */

.form-outer .needs-validation .row label.form-label {
    font-size: 18px;
    font-weight: 700;
    color: var(--dark-brown);
}

.form-outer .needs-validation .form-wrapper {
    padding: 50px 50px;
}

input.form-control {
    background-color: transparent;
    border: 1px solid #492C09;
    border-radius: 10px;
    margin-bottom: 20px;
}

select.form-select {
    background-color: transparent;
    border: 1px solid #492C09;
    border-radius: 10px;
    margin-bottom: 20px;
}

textarea.form-control {
    margin-bottom: 20px;
}

.form-inside {
    padding: 20px 50px;
    background: rgba(217, 217, 217, 0.09);
    box-shadow: -4px 4px 4px #C6A559;
    border-radius: 30px;
}

input#sub-judul.form-control {
    background-color: rgba(217, 217, 217, 0.09);
    border: 1px solid #492C09;
    border-radius: 10px;
}

textarea#konten.form-control {
    height: 200px;
    background-color: rgba(217, 217, 217, 0.09);
    border: 1px solid #492C09;
    border-radius: 10px;
}

.form-outer .button-edit {
    display: flex;
    justify-content: end;
}

.form-outer .button-edit a.btn-outline-dark-brown {
    padding: 10px 30px;
    margin: 30px 0;
    background-color: var(--dark-brown);
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    color: var(--regular-brown);
    text-decoration: none;
}

.form-outer .button-edit a.btn-outline-dark-brown:hover {
    color: #e7e7e7;
}

.form-outer .button-save a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--regular-brown);
    padding: 20px 0;
    font-size: 18px;
    font-weight: 700;
    color: var(--white-color);
    text-decoration: none;
}

/* Drag and Drop Picture */

.drag-area {
    border: 2px dashed #3B270C;
    height: 330px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.drag-area.active {
    border: 2px solid #fff;
}

.drag-area .icon {
    font-size: 60px;
    color: #C6A559;
}

.drag-area header {
    font-size: 18px;
    font-weight: 500;
    color: var(--darker-brown);
}

.drag-area span {
    font-size: 20px;
    font-weight: 500;
    color: var(--darker-brown);
    margin: 10px 0 15px 0;
}

.drag-area button {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: var(--darker-brown);
    color: var(--regular-brown);
    border-radius: 5px;
    cursor: pointer;
}

.drag-area img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* Ucapan Pernikahan */

textarea#deskripsi.form-control {
    height: 150px;
    background-color: var(--light-brown);
    border: 1px solid #492C09;
    border-radius: 10px;
}

.form-outer .needs-validation .form-wrapper .checkbox p {
    padding: 10px 0;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: var(--dark-brown);
}

/* Navtabs */

.nav-tabs {
    margin-top: 15px;
}

.nav-tabs a.nav-link.active {
    font-size: 18px;
    font-weight: 700;
    color: var(--white-color);
    background-color: transparent;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom: 2px solid #fff;
}

.nav-tabs a.nav-link:hover {
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
}

.nav-tabs a.nav-link {
    font-size: 18px;
    font-weight: 700;
    color: var(--dark-brown);
}

.tab-content .tab-pane {
    margin-top: 20px;
}

.tab-content .tab-pane .icon {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: var(--dark-brown);
}

.tab-content .tab-pane p {
    margin: 20px 20px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: var(--dark-brown);
}

.tab-content .tab-pane .checkbox h6 {
    margin: 10px 0px;
    font-weight: 700;
    font-size: 18px;
    color: var(--dark-brown);
}

/* Foto Cover */

/* Amplop Digital */

.form-outer .needs-validation .form-wrapper .donations {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-outer .needs-validation .form-wrapper .donations .donation {
    width: 310px;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    background: #FFFFFF;
    box-shadow: -5px 4px 10px #C6A559;
    border-radius: 10px;
}

.donations .donation .donation-img img {
    width: 64px;
}

.donations .donation .donation-content {
    margin: 0 20px;
}

.donations .donation .donation-content p {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: var(--dark-brown);
}

.donations .donation .donation-content h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    color: var(--dark-brown);
}

.tab-content .tab-pane .form-transaksi {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-content .tab-pane .form-transaksi .form-transaksi-content {
    width: 400px;
    padding: 20px 30px;
    background: #FFFFFF;
    box-shadow: -5px 4px 10px #C6A559;
    border-radius: 10px;
}

.tab-content .tab-pane .form-transaksi .form-transaksi-content .form-title h1 {
    text-align: center;
    color: var(--dark-brown);
    font-size: 24px;
    font-weight: 700;
}

.tab-content .tab-pane .form-transaksi .form-transaksi-content .form-title hr {
    border: 2px solid #492C09;
}

/* Galeri foto & video */

.form-outer .needs-validation .form-wrapper .row .upload-gambar {
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 20px 20px;
    height: 200px;
    border: 2px dashed #492C09;
    margin-bottom: 20px;
}

.form-outer .needs-validation .form-wrapper .row .upload-gambar button {
    width: 185px;
    height: 40px;
    background: #C6A559;
    border-radius: 10px;
}

.form-outer .needs-validation .form-wrapper .row .teks-tamu-checkbox h6 {
    margin: 20px 0px;
    font-weight: 700;
    font-size: 18px;
    color: var(--dark-brown);
}

/* Informasi Acara */

.form-outer .needs-validation .form-wrapper .acara {
    padding: 30px 20px;
    border: 1px solid #C99826;
    border-radius: 10px;
}

.form-outer .needs-validation .form-wrapper .acara .tanggal-acara h1 {
    padding: 10px 0;
    margin: 0;
    font-size: 18px;
    font-weight: 800;
    color: var(--dark-brown);
}

.acara .info-acara {
    padding: 15px 30px;
    background-color: var(--regular-brown);
    border-radius: 10px;
}

.acara .info-acara .title {
    width: 100%;
    display: inline-flex;
}

.acara .info-acara .title h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 800;
    color: var(--dark-brown);
}

.acara .info-acara .btn-edit {
    padding: 2px 10px;
    margin: 0 10px;
    background-color: var(--dark-brown);
    border-radius: 5px;
}

.acara .info-acara .btn-edit .icon {
    color: var(--white-color);
}

.acara .info-acara .btn-delete {
    padding: 2px 10px;
    background-color: var(--background-icon-red);
    border-radius: 5px;
}

.acara .info-acara .btn-delete .icon{
    color: var(--white-color);
}

.acara .info-acara .content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    color: var(--dark-brown);
}

.acara .tambah-acara {
    display: flex;
    justify-content: center;
    padding: 0 300px;
    margin-top: 20px;
}

.acara .tambah-acara a.btn-create {
    padding: 40px 100px;
    color: var(--dark-brown);
    background-color: var(--regular-brown);
}

.acara .tambah-acara h1{
    margin-top: 10px;
    font-size: 24px;
    font-weight: 700;
}

.acara .tambah-acara i{
    font-size: 50px;
    font-weight: 700;
}

.tambah-hari {
    display: flex;
    justify-content: end;
}

a.btn-tambah-hari {
    padding: 15px 15px;
    margin-top: 20px;
    font-size: 18px;
    background-color: var(--regular-brown);
    color: var(--white-color);
}

a.btn-tambah-hari:hover {
    background-color: var(--regular-brown);
    color: var(--white-color);
}
/* Cover Pembuka */

/* Informasi Mempelai */

hr.divider {
    border: 2px solid #492C09;
}

/* Upgrade Premium */

.form-outer .needs-validation .form-wrapper .btn-premium {
    width: 180px;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: var(--dark-brown);
    background-color: var(--regular-brown);
    border-radius: 10px;
}

.form-outer .needs-validation .form-wrapper .btn-premium a {
    color: var(--dark-brown);
    text-decoration: none;
}

.form-outer .needs-validation .form-wrapper .btn-premium .icon {
    font-size: 22px;
    font-weight: bolder;
    color: var(--dark-brown);
}

.form-outer .needs-validation .form-wrapper .fitur-premium {
    padding: 50px 0 0 0;
}

.fitur-premium .table-responsive hr {
    margin: 0;
    border: 1px solid #492C09;
}

.fitur-premium .table-responsive .table-title th {
    width: 20%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 700;
    color: var(--regular-brown);
}

.fitur-premium .table-responsive .table-title th.table-activated {
    color: var(--dark-brown);
}

.fitur-premium .table-responsive .table-footer th.btn-beli {
    width: 20%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 700;
    color: var(--dark-brown);
    border-bottom: none;
}

.fitur-premium .table-responsive .table-footer th.btn-beli a {
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 18px;
    text-decoration: none;
    background-color: var(--regular-brown);
    color: var(--dark-brown);

}

.fitur-premium .table-responsive thead tr {
    border-bottom: 1px solid #492C09;
}

.fitur-premium .table-responsive tbody tr {
    border-bottom: 1px solid #492C09;
}

.fitur-premium .table-responsive tbody tr th.text-start {
    color: var(--dark-brown);
    font-size: 18px;
    font-weight: 400;
}

.fitur-premium .table-responsive tbody tr td {
    color: var(--regular-brown);
    font-weight: 600;
}

/* Informasi Tambahan */


/* Connect Devices */

hr.device-divider {
    border: 2px solid #492C09;
    margin: 20px 0;
}

.form-outer .needs-validation .form-wrapper .current-device {
    display: flex;
    color: var(--dark-brown);
}

.form-outer .needs-validation .form-wrapper .current-device .device-img .icon {
    padding: 0px 30px;
    font-size: 150px;
}

.form-outer .needs-validation .form-wrapper .current-device .device-title h1 {
    font-size: 40px;
    font-weight: 700;
}

.form-outer .needs-validation .form-wrapper .current-device .device-title p {
    font-size: 28px;
    font-weight: 400;
}

.form-outer .needs-validation .form-wrapper .devices {
    color: var(--dark-brown);
}

.form-outer .needs-validation .form-wrapper .devices h1 {
    font-size: 28px;
    font-weight: 700;
}

.form-outer .needs-validation .form-wrapper .devices h2 {
    font-size: 28px;
    font-weight: 400;
}

.form-outer .needs-validation .form-wrapper .devices .content h1 {
    font-size: 24px;
}

.form-outer .needs-validation .form-wrapper .devices .content .icon {
    padding: 0px 10px;
    font-size: 24px;
    font-weight: 700;
}

.form-outer .needs-validation .form-wrapper .devices .content .iphone {
    display: flex;
    margin: 20px 0;
}

.form-outer .needs-validation .form-wrapper .devices .content .macbook {
    display: flex;
    margin: 20px 0;
}

.form-outer .needs-validation .form-wrapper .devices .content .other-devices {
    display: flex;
    margin: 20px 0;
}

.form-outer .needs-validation .form-wrapper .devices .content .airplay {
    display: flex;
    margin: 20px 0;
}

/* RSVP Page */
.form-outer .needs-validation .form-wrapper .setting-rsvp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
}

.form-outer .needs-validation .form-wrapper .setting-rsvp a{
    text-decoration: none;
}

.form-outer .needs-validation .form-wrapper .setting-rsvp a .row{
    opacity: 0.4;
    font-size: 18px;
    font-weight: 700;
    color: var(--dark-brown);
}

.form-outer .needs-validation .form-wrapper .setting-rsvp a img {
    z-index: 3;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* Responsive */


@media screen and (max-width: 1400px) {}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {

    /* Navbar */

    a.btn-outline-light {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0;
        margin-bottom: 25px;
        font-size: 18px;
        font-weight: 600;
        border-radius: 10px;
        color: var(--dark-brown);
        border-color: var(--dark-brown);
        padding: 10px 16px;
    }

    .navbar-nav .dropdown {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px 20px;
        background-color: var(--light-brown);
        border: 1px solid #492C09;
        border-radius: 10px;
    }

    ul.dropdown-wrapper.dropdown-menu.text-small.show {
        width: 100%;
        margin-top: 10px;
        background-color: var(--dark-brown);
    }

    li a.dropdown-item {
        font-size: 16px;
        color: var(--regular-brown);
    }

    /* Navbar Offcanvas */

    .navbar-nav .dropdown a.d-flex.link-brown {
        font-weight: 600;
        font-size: 18px;
        color: var(--dark-brown);
    }

    .navbar-nav .dropdown a.d-flex.link-brown img {
        width: 30px;
    }

    /* Cerita Cinta */

    #cerita-cinta .container .header {
        padding: 15px 0px;
    }

    #cerita-cinta .container .header h1 {
        font-size: 20px;
    }

    /* Form */

    .form-outer .needs-validation .row label.form-label {
        font-size: 18px;
    }

    .form-outer .needs-validation .form-wrapper {
        padding: 30px 20px;
    }

    .form-inside {
        padding: 0 0;
        background: var(--light-brown);
        box-shadow: none;
        border-radius: 0px;
    }

    .form-outer .button-edit a.btn-outline-dark-brown {
        padding: 5px 15px;
        margin: 20px 0;
        background-color: var(--dark-brown);
        border-radius: 10px;
        font-weight: 700;
        font-size: 18px;
        color: var(--regular-brown);
        text-decoration: none;
    }

    .form-outer .button-save a {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--regular-brown);
        padding: 15px 0;
        font-size: 18px;
        font-weight: 600;
        color: var(--white-color);
        text-decoration: none;
    }

    .tab-content .tab-pane .checkbox h6 {
        font-size: 18px;
    }

    /* Drag and Drop Picture */

    .drag-area {
        height: 400px;
    }

    .drag-area.active {
        border: 2px solid #fff;
    }

    .drag-area .icon {
        font-size: 120px;
        color: #C6A559;
    }

    .drag-area header {
        font-size: 18px;
        font-weight: 500;
        color: var(--darker-brown);
    }

    .drag-area span {
        font-size: 20px;
        font-weight: 500;
        color: var(--darker-brown);
        margin: 10px 0 15px 0;
    }

    .drag-area button {
        padding: 10px 20px;
        font-size: 20px;
        font-weight: 500;
        border: none;
        outline: none;
        background: var(--darker-brown);
        color: var(--regular-brown);
        border-radius: 5px;
        cursor: pointer;
    }

    .drag-area img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    /* Hubungi Kami */

    .hub-kami a {
        padding: 10px 20px;
        margin: 20px 0;
        border-radius: 80px;
        font-weight: 500;
        font-size: 18px;
        color: var(--white-color);
    }

    /* Connect Devices */

    .form-outer .needs-validation .form-wrapper .current-device .device-img .icon {
        padding: 0px 20px;
        font-size: 100px;
    }

    .form-outer .needs-validation .form-wrapper .current-device .device-title h1 {
        font-size: 30px;
        font-weight: 700;
    }

    .form-outer .needs-validation .form-wrapper .current-device .device-title p {
        font-size: 24px;
        font-weight: 400;
    }

    .form-outer .needs-validation .form-wrapper .devices h1 {
        font-size: 24px;
        font-weight: 700;
    }

    .form-outer .needs-validation .form-wrapper .devices h2 {
        font-size: 20px;
        font-weight: 400;
    }

    .form-outer .needs-validation .form-wrapper .devices .content h1 {
        font-size: 20px;
    }

    .form-outer .needs-validation .form-wrapper .devices .content .icon {
        padding: 0px 10px;
        font-size: 20px;
        font-weight: 700;
    }

}


@media screen and (max-width: 576px) {
    /* Navbar */

    a.btn-outline-light {
        font-size: 16px;
    }

    li a.dropdown-item {
        font-size: 14px;
    }

    /* Navbar Offcanvas */

    .navbar-nav .dropdown a.d-flex.link-brown {
        font-size: 16px;
    }

    .navbar-nav .dropdown a.d-flex.link-brown img {
        width: 25px;
    }

    /* Cerita Cinta */

    #cerita-cinta .container .header {
        padding: 15px 0px;
    }

    #cerita-cinta .container .header h1 {
        font-size: 18px;
    }

    #cerita-cinta .container .header img {
        width: 54px;
    }

    /* Form */

    .form-outer .needs-validation .row label.form-label {
        font-size: 16px;
    }

    .form-outer .button-edit a.btn-outline-dark-brown {
        font-size: 16px;
    }

    .form-outer .button-save a {
        font-size: 16px;
    }

    .tab-content .tab-pane .checkbox h6 {
        font-size: 16px;
    }

    /* Drag and Drop Picture */

    .drag-area header {
        font-size: 16px;
    }

    .drag-area span {
        font-size: 18px;
    }

    .drag-area button {
        font-size: 16px;
    }

    /* Galeri foto & video */

    .form-outer .form-wrapper .row .upload-gambar {
        padding: 20px 20px;
        height: 250px;
    }

    .form-outer .form-wrapper .row .upload-gambar button {
        width: 175px;
        height: 45px;
        font-size: 15px;
        background: #C6A559;
        border-radius: 10px;
    }


    /* Hubungi Kami */

    .hub-kami a {
        padding: 10px 20px;
        margin: 20px 0;
        border-radius: 80px;
        font-weight: 500;
        font-size: 16px;
        color: var(--white-color);
    }

    .hub-kami .icon {
        font-size: 20px;
    }

    /* Ucapan Pernikahan */

    textarea#deskripsi.form-control {
        height: 200px;
    }

    .form-outer .needs-validation .form-wrapper .checkbox p {
        font-size: 16px;
    }

    /* Navtabs */

    .nav-tabs {
        margin-top: 20px;
    }

    .nav-tabs a.nav-link.active {
        font-size: 16px;
    }

    .nav-tabs a.nav-link {
        font-size: 16px;
    }

    .tab-content .tab-pane p {
        margin: 20px 20px;
        font-size: 16px;
    }

    /* Amplop Digital */

    .donations .donation .donation-img img {
        width: 54px;
    }

    .donations .donation .donation-content p {
        font-size: 16px;
    }

    .donations .donation .donation-content h1 {
        font-size: 20px;
    }

    .tab-content .tab-pane .form-transaksi .form-transaksi-content .form-title h1 {
        font-size: 18px;
    }

    .tab-content .tab-pane .form-transaksi .form-transaksi-content .form-title hr {
        border: 2px solid #492C09;
    }

    /* Info Acara */

    .form-outer .form-wrapper .row .teks-tamu-checkbox h6 {
        margin: 15px 0px;
        font-size: 16px;
    }

    /* Connect Devices */

    hr.device-divider {
        border: 2px solid #492C09;
    }

    .form-outer .needs-validation .form-wrapper .current-device .device-img .icon {
        padding: 0px 15px;
        font-size: 80px;
    }

    .form-outer .needs-validation .form-wrapper .current-device .device-title h1 {
        font-size: 28px;
        font-weight: 700;
    }

    .form-outer .needs-validation .form-wrapper .current-device .device-title p {
        font-size: 22px;
        font-weight: 400;
    }

    .form-outer .needs-validation .form-wrapper .devices h1 {
        font-size: 22px;
        font-weight: 700;
    }

    .form-outer .needs-validation .form-wrapper .devices h2 {
        font-size: 18px;
        font-weight: 400;
    }

    .form-outer .needs-validation .form-wrapper .devices .content h1 {
        font-size: 18px;
    }

    .form-outer .needs-validation .form-wrapper .devices .content .icon {
        padding: 0px 10px;
        font-size: 18px;
        font-weight: 700;
    }

    /* Footer */

    footer p {
        padding: 20px;
        font-size: 14px;
    }

}

@media screen and (max-width: 500px) {

    /* Navbar */

    .navbar .container-fluid a.navbar-brand img {
        width: 230px;
    }

    /* Hubungi Kami */

    .hub-kami a {
        padding: 10px 20px;
        margin: 30px 0;
        border-radius: 50px;
        font-weight: 600;
        font-size: 20px;
        color: var(--white-color);
    }

    .hub-kami a:hover {
        color: var(--white-color);
    }

    .hub-kami .icon {
        font-size: 20px;
    }

    /* Footer */

    footer p {
        padding: 20px;
        font-size: 12px;
    }

    /* Cerita Cinta */

    #cerita-cinta .container .header {
        padding: 15px 0px;
    }

    #cerita-cinta .container .header h1 {
        font-size: 16px;
    }

    #cerita-cinta .container .header img {
        width: 44px;
    }

    /* Form */

    .form-outer .needs-validation .row label.form-label {
        font-size: 14px;
    }

    .form-outer .button-edit {
        display: flex;
        justify-content: center;
    }

    .form-outer .button-edit a.btn-outline-dark-brown {
        width: 100%;
        padding: 10px 15px;
        margin: 10px 0;
        background-color: var(--dark-brown);
        border-radius: 10px;
        font-weight: 700;
        font-size: 14px;
        color: var(--regular-brown);
        text-decoration: none;
    }

    .form-outer .button-save a {
        padding: 20px 0;
        font-size: 14px;
    }

    .form-outer .needs-validation .form-wrapper {
        padding: 20px 20px;
    }

    .tab-content .tab-pane .checkbox h6 {
        font-size: 14px;
    }

    /* Drag and Drop Picture */

    .drag-area .icon {
        font-size: 80px;
        color: #C6A559;
    }

    .drag-area header {
        font-size: 14px;
    }

    .drag-area span {
        font-size: 16px;
    }

    .drag-area button {
        font-size: 14px;
    }

    /* Ucapan Pernikahan */

    textarea#deskripsi.form-control {
        height: 250px;
    }

    .form-outer .needs-validation .form-wrapper .checkbox p {
        font-size: 14px;
    }

    /* Navtabs */

    .nav-tabs {
        margin-top: 20px;
    }

    .nav-tabs a.nav-link.active {
        font-size: 14px;
    }

    .nav-tabs a.nav-link {
        font-size: 14px;
    }

    .tab-content .tab-pane p {
        margin: 20px 20px;
        font-size: 14px;
    }

    /* Amplop Digital */

    .donations .donation .donation-img img {
        width: 44px;
    }

    .donations .donation .donation-content p {
        font-size: 14px;
    }

    .donations .donation .donation-content h1 {
        font-size: 18px;
    }

    .tab-content .tab-pane .form-transaksi .form-transaksi-content .form-title h1 {
        font-size: 16px;
    }

    /* Galeri foto & video */

    .form-outer .form-wrapper .row .upload-gambar {
        padding: 20px 20px;
        height: 280px;
    }

    .form-outer .form-wrapper .row .upload-gambar button {
        width: 175px;
        height: 45px;
        font-size: 14px;
        background: #C6A559;
        border-radius: 10px;
    }

    /* Info Acara */

    .form-outer .form-wrapper .row .teks-tamu-checkbox h6 {
        margin: 10px 0px;
        font-size: 14px;
    }

    /* Connect Devices */

    .form-outer .needs-validation .form-wrapper .current-device .device-img .icon {
        padding: 0px 15px;
        font-size: 60px;
    }

    .form-outer .needs-validation .form-wrapper .current-device .device-title h1 {
        font-size: 24px;
        font-weight: 700;
    }

    .form-outer .needs-validation .form-wrapper .current-device .device-title p {
        font-size: 16px;
        font-weight: 400;
    }

    .form-outer .needs-validation .form-wrapper .devices h1 {
        font-size: 16px;
        font-weight: 700;
    }

    .form-outer .needs-validation .form-wrapper .devices h2 {
        font-size: 14px;
        font-weight: 400;
    }

    .form-outer .needs-validation .form-wrapper .devices .content h1 {
        font-size: 16px;
    }

    .form-outer .needs-validation .form-wrapper .devices .content .icon {
        padding: 0px 10px;
        font-size: 16px;
        font-weight: 700;
    }
}

@media screen and (max-width: 300px) {
    /* Navbar */

    .navbar .container-fluid a.navbar-brand img {
        width: 180px;
    }

    .nav-tabs {
        width: 210px;
    }

    /* Hubungi Kami */

    .hub-kami a {
        padding: 10px 20px;
        margin: 30px 0;
        border-radius: 50px;
        font-weight: 600;
        font-size: 14px;
        color: var(--white-color);
    }

    .hub-kami a:hover {
        color: var(--white-color);
    }

    .hub-kami .icon {
        font-size: 14px;
    }

    /* Footer */

    footer p {
        padding: 20px;
        font-size: 12px;
    }

    /* Cerita Cinta */

    #cerita-cinta .container .header {
        padding: 15px 0px;
    }

    #cerita-cinta .container .header h1 {
        font-size: 14px;
    }

    #cerita-cinta .container .header img {
        width: 34px;
    }

    /* Form */

    .form-outer .needs-validation .row label.form-label {
        font-size: 12px;
    }

    .form-outer .needs-validation .form-wrapper {
        padding: 15px 10px;
    }


    .form-outer .button-edit {
        display: flex;
        justify-content: center;
    }

    .form-outer .button-edit a.btn-outline-dark-brown {
        width: 100%;
        padding: 10px 15px;
        margin: 10px 0;
        background-color: var(--dark-brown);
        border-radius: 10px;
        font-weight: 700;
        font-size: 12px;
        color: var(--regular-brown);
        text-decoration: none;
    }

    .form-outer .button-save a {
        padding: 20px 0;
        font-size: 12px;
    }

    .tab-content .tab-pane .checkbox h6 {
        font-size: 12px;
    }

    /* Drag and Drop Picture */

    .drag-area .icon {
        font-size: 60px;
        color: #C6A559;
    }

    .drag-area header {
        font-size: 12px;
    }

    .drag-area span {
        font-size: 14px;
    }

    .drag-area button {
        font-size: 12px;
    }

    /* Ucapan Pernikahan */

    textarea#deskripsi.form-control {
        height: 250px;
    }

    .form-outer .needs-validation .form-wrapper .checkbox p {
        font-size: 12px;
    }

    /* Navtabs */

    .nav-tabs {
        margin-top: 20px;
    }

    .nav-tabs a.nav-link.active {
        font-size: 12px;
    }

    .nav-tabs a.nav-link {
        font-size: 12px;
    }

    .tab-content .tab-pane p {
        margin: 20px 20px;
        font-size: 12px;
    }

    /* Amplop Digital */

    .form-outer .needs-validation .form-wrapper .donations .donation {
        width: 100%;
        padding: 10px 20px;
    }

    .donations .donation .donation-img img {
        width: 34px;
    }

    .donations .donation .donation-content p {
        font-size: 12px;
    }

    .donations .donation .donation-content h1 {
        font-size: 16px;
    }

    .tab-content .tab-pane .form-transaksi .form-transaksi-content .form-title h1 {
        font-size: 14px;
    }

    /* Galeri foto & video */

    .form-outer .form-wrapper .row .upload-gambar {
        padding: 20px 20px;
        height: 300px;
    }

    .form-outer .form-wrapper .row .upload-gambar button {
        width: 175px;
        height: 45px;
        font-size: 12px;
        background: #C6A559;
        border-radius: 10px;
    }

    /* Info Acara */

    .form-outer .form-wrapper .row .teks-tamu-checkbox h6 {
        margin: 5px 0px;
        font-size: 12px;
    }

    /* Connect Devices */

    .form-outer .needs-validation .form-wrapper .current-device .device-img .icon {
        padding: 0px 10px;
        font-size: 50px;
    }

    .form-outer .needs-validation .form-wrapper .current-device .device-title h1 {
        font-size: 16px;
        font-weight: 700;
    }

    .form-outer .needs-validation .form-wrapper .current-device .device-title p {
        font-size: 14px;
        font-weight: 400;
    }

    .form-outer .needs-validation .form-wrapper .devices h1 {
        font-size: 14px;
        font-weight: 700;
    }

    .form-outer .needs-validation .form-wrapper .devices h2 {
        font-size: 12px;
        font-weight: 400;
    }

    .form-outer .needs-validation .form-wrapper .devices .content h1 {
        font-size: 16px;
    }

    .form-outer .needs-validation .form-wrapper .devices .content .icon {
        padding: 0px 10px;
        font-size: 12px;
        font-weight: 700;
    }

}