@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --white-color: #fff;
    --light-brown: #E0CBA0;
    --regular-brown: #C6A559;
    --dark-brown: #492C09;
    --darker-brown: #3B270C;
    --background-icon-green: #41C336;
    --background-icon-red: #FF0202;
}

/* width scrollbar */

::-webkit-scrollbar {
    width: 14px;
}

/* Handle scrollbar */

::-webkit-scrollbar-thumb {
    background: var(--regular-brown);
    border-radius: 10px;
}

/* Track scrollbar */

::-webkit-scrollbar-track {
    background: var(--darker-brown);
}

/* Body */

* {
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
}

/* Navbar */

.bg-brown {
    background-color: var(--darker-brown);
}

a.btn-outline-light {
    display: block;
    margin: auto;
    margin-right: 30px;
    width: 174px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50px;
    color: var(--regular-brown);
    border-color: var(--regular-brown);
    padding: 16px 32px;
}

.navbar-nav .dropdown {
    display: flex;
    padding: 15px 20px;
    background-color: var(--darker-brown);
    border: 1px solid #C6A559;
    border-radius: 50px;
}

.navbar-nav .dropdown a.d-block.link-brown {
    color: var(--regular-brown);
}

ul.dropdown-wrapper.dropdown-menu.text-small.show {
    width: 210px;
    margin-top: 10px;
    background-color: var(--dark-brown);
}

li a.dropdown-item {
    color: var(--regular-brown);
}

li a.dropdown-item:hover {
    color: var(--white-color);
    background-color: var(--dark-brown);
}

/* Navbar Offcanvas */

.navbar .container-fluid .offcanvas {
    background-color: var(--light-brown);
}

.navbar .container-fluid .offcanvas-header .btn-close {
    margin-bottom: 70px;
}

/* Hubungi Kami */
.hub-kami {
    display: flex;
    margin-right: 20px;
    justify-content: end;
}

.hub-kami a {
    padding: 20px 30px;
    margin: 30px 0;
    background-color: var(--background-icon-green);
    border-radius: 100px;
    font-weight: 700;
    font-size: 25px;
    color: var(--white-color);
    text-decoration: none;
}

.hub-kami a:hover {
    color: var(--white-color);
}

.hub-kami .icon {
    font-size: 25px;
}

/*Footer*/

footer p {
    padding: 20px;
    margin: 0;
    color: var(--light-brown);
}


/* Responsive */


@media screen and (max-width: 1400px) {
    
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 991px) {

}


@media screen and (max-width: 767px) {

    /* Navbar */

    a.btn-outline-light {
        display: flex;
        justify-content: center;
        margin: 0;
        margin-bottom: 25px;
        color: var(--dark-brown);
        font-size: 25px;
        font-weight: 600;
        border-radius: 0px;
        border: none;
        padding: 10px 16px;
    }

    .navbar-nav .dropdown {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px 20px;
        background-color: var(--light-brown);
        border: none;
        border-radius: 0px;
    }

    ul.dropdown-wrapper.dropdown-menu.text-small.show {
        width: 325px;
        margin-top: 10px;
        background-color: var(--dark-brown);
    }

    li a.dropdown-item {
        color: var(--regular-brown);
    }

    /* Navbar Offcanvas */

    .navbar-nav .dropdown a.d-block.link-brown {
        font-weight: 600;
        font-size: 25px;
        color: var(--dark-brown);
    }

    .navbar-nav .dropdown a.d-block.link-brown img {
        width: 40px;
    }

    /* Hubungi Kami */

    .hub-kami a {
        padding: 10px 20px;
        margin: 20px 0;
        border-radius: 80px;
        font-weight: 500;
        font-size: 18px;
        color: var(--white-color);
    }

    .hub-kami a:hover {
        color: var(--white-color);
    }
}


@media screen and (max-width: 576px) {
    
}

@media screen and (max-width: 500px) {

    /* Navbar */

    .navbar .container-fluid a.navbar-brand img {
        width: 230px;
    }

    /* Hubungi Kami */

    .hub-kami a {
        padding: 10px 20px;
        margin: 30px 0;
        border-radius: 50px;
        font-weight: 600;
        font-size: 20px;
        color: var(--white-color);
    }

    .hub-kami a:hover {
        color: var(--white-color);
    }

    /* Footer */

    footer p {
        padding: 20px;
        font-size: 14px;
    }

}

@media screen and (max-width: 300px) {
    /* Navbar */

    .navbar .container-fluid a.navbar-brand img {
        width: 180px;
    }
    
    ul.dropdown-wrapper.dropdown-menu.text-small.show {
        width: 200px;
        margin-top: 10px;
        background-color: var(--dark-brown);
    }

    li a.dropdown-item {
        color: var(--regular-brown);
    }

    /* Navbar Offcanvas */

    .navbar-nav .dropdown a.d-block.link-brown {
        font-weight: 600;
        font-size: 18px;
        color: var(--dark-brown);
    }

    .navbar-nav .dropdown a.d-block.link-brown img {
        width: 30px;
    }

    /* Hubungi Kami */

    .hub-kami {
        display: flex;
        margin-right: 0px;
        justify-content: center;
    }

    .hub-kami a {
        padding: 10px 20px;
        margin: 30px 0;
        border-radius: 10px;
        font-weight: 600;
        font-size: 18px;
        color: var(--white-color);
    }

    .hub-kami .icon {
        font-size: 20px;
    }

    /* Footer */

    footer p {
        padding: 20px;
        font-size: 12px;
    }
}